# Binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env
*.db
*.json
*.yml
*inverter
*.pem

# Test binary, built with go test -c
*.test

# Output of the go coverage tool
*.out

# Dependency directories
/vendor/
/json-api-examples/

# Go workspace file
go.work
